*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#053c37 ;
    --white-color:white;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: var(--primary-color);
    line-height: 1.6;

}

#showcase{
    background-image:url(img13.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}
#showcase h1{
   font-size: 50px;
   line-height: 1.2;
}
#showcase h2{
   font-size: 40px;
   line-height: 1.2;
   font-family: 'Dancing Script', cursive;
}
#showcase p{
   font-size: 20px;
   text-align: center;
}
#showcase .btn{
    margin-top: 20px;
}
#showcase .button{
   font-size: 20px;
   text-decoration: none;
   color: var(--white-color);
   border: 2px solid  var(--primary-color);
   background-color: var(--primary-color);
   padding: 10px 20px;
   border-radius: 10px;
   margin-top: 20px;
}
#showcase .button1{
   font-size: 20px;
   text-decoration: none;
   border:2px solid var(--primary-color);
   color:  var(--primary-color);
   padding: 10px 20px;
   
   border-radius: 10px;
   margin-top: 20px;
}
#showcase .button:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}
#showcase .button1:hover{
  color: var(--white-color);
  background-color: var(--primary-color);
}
#section-a{
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
}
#section-b{
    padding: 20px;
    background-color: var(--white-color);
    color: var(--primary-color);
    text-align: center;
}
#section-c{
    display: flex;
}
#section-c div{
    padding: 20px;
   
}

#section-c .box-1,#section-c .box-3{
    background-color: var(--primary-color);
    color: var(--white-color);
   
}
#section-c .box-2{
    background-color: var(--white-color);
    
}

.big-div{
    height: 61vh;
    width: 100%;
    display: flex;
    border: 2px solid var(--primary-color);
    flex-wrap: wrap; /* Allow child divs to wrap to a new line */

}
 .image{
   width: 50%;
   box-sizing: border-box;

   
}
 .image img{
   width: 100%;
   height:61vh ;
}

.content{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    
}
.content-1{
    margin: 15px;
    
}
#mainFooter {
    height: 100px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    word-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:768px) {
    #showcase{
       padding-bottom: 40px;
    }
    .big-div {
        
        height: auto; /* Remove the fixed height */
        width: 100%;
        display: flex;
        flex-wrap: wrap; /* Allow child divs to wrap to a new line */
        justify-content: space-between; /* Add space between child elements */
        align-items: center; /* Center child elements vertically */
        padding: 0;
        margin: 0;
    
        /* Add some padding to create separation between image and content */
    }
    
    .image {
        width: 100%;
        box-sizing: border-box;
    }
    
    .image img {
        width: 100%;
        height: auto; /* Allow the image to adjust its height proportionally */
    }
    
    .content {
        width: 100%;
        padding: 0; /* Remove padding for mobile view */
        box-sizing: border-box;
    }
    
     
         
}